/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #011627;
  --secondary-color: #b72d34;
  --text-color: #fdfffc;
  --accent-color: #ff9f1c;
  --details-color: #8f9aa5;
}

body {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
