/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color: #011627;
    --secondary-color: #B72D34;
    --text-color:#FDFFFC;
    --accent-color: #FF9F1C;
    --details-color: #8F9AA5;
}